#header {
    /* font-size: large; */
    padding: 0.3em;
    padding-left: 15px;
    background-image: url("image/car.jpg");
    /* background: #bf98ce; */
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}


/* Layout */
body {
    min-width: 630px;
}

#description {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

#container {
    padding-left: 200px;
    padding-right: 190px;
}

#container .column {
    position: relative;
    float: left;
}

#center {
    padding: 10px 20px;
    width: 100%;
}

#left {
    width: 180px;
    padding: 0 10px;
    right: 240px;
    margin-left: -100%;
}

#right {
    width: 130px;
    padding: 0 10px;
    margin-right: -100%;
}

#footer {
    clear: both;
}

/* IE hack */
* html #left {
    left: 150px;
}

/* Make the columns the same height as each other */
#container {
    overflow: hidden;
}

#container .column {
    padding-bottom: 1001em;
    margin-bottom: -1000em;
}

/* Fix for the footer */
* html body {
    overflow: hidden;
}

* html #footer-wrapper {
    float: left;
    position: relative;
    width: 100%;
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    background: #fff;
}

/* Aesthetics */
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    color: darkgreen;
    text-decoration: none;
}


footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
}

#left {
    background: #DAE9BC;
}

#right {
    background: #F7FDEB;
    /* background-image: url("image/CarParking.jpg"); */
}

#center {
    background: rgb(99, 72, 72);
}

#container .column {
    padding-top: 1em;
}

p {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'Courier New';
}

h3 {
    font-weight: bold;
    background-color: rgb(200, 155, 241);
    color: rgb(23, 22, 105);
    font-size: 25px;
    font-family: 'Courier New';
}

h6 {
    font-weight: bold;
    color: rgb(5, 46, 73);
    font-size: 20px;
    font-family: 'Courier New';
}

.box1 {
    width: 100px;
    height: 200px;
    position: absolute;
    left: 200px;
    top: 150px;
}
.box2 {
    width: 100px;
    height: 200px;
    position: absolute;
    left:600px;
    top: 150px;
}
.box3 {
    width: 100px;
    height: 200px;
    position: absolute;
    right: 200px;
    top: 150px;
}
.box4 {
    width: 100px;
    height: 200px;
    position: absolute;
    right:600px;
    top: 150px;
}

.red {
    background: #f00;
}

.green {
    background: #0f0;
}
.color-box1{
    position: absolute;
    right:830px;
    top: 370px;

}
.color-box2{
    position: absolute;
    right:640px;
    top: 370px;
}
.color-box3{
    position: absolute;
    right:430px;
    top: 370px;

}
.color-box4{
    position: absolute;
    right:240px;
    top: 370px;

}